<html lang = "en-US">
<head>
    <meta charset = "UTF-8">
    <title>externalStyle.html</title>
    <link rel = "stylesheet"
          type = "text/css"
          href = "styles/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" >
                <li><a href="#">Home</a></li>
                <li><a href="#" >About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Events</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <h3>Athlete Profile Page Questionnaire</h3>
    <div class="row content">
        <div class="col-sm-3 sidenav">
        </div>

        <div class="col-sm-9 md text-left" >
            <h4>Basic Info:</h4>
            <p></p>
            <form id="basicinfoform">

                <p>
                    <label>Name:</label>
                    <input id="name" ng-model="basicInfo.name"/>
                </p>
                <p>
                    <label>Gender:</label>
                    <input id="gender" ng-model="basicInfo.gender"/>
                </p>

                <p>
                    <label>Date of Birth:</label>
                    <input id="dateofbirth" ng-model="basicInfo.dateofbirth"/>
                </p>

                <p>
                    <label>Nationality:</label>
                    <input id="nationality" ng-model="basicInfo.nationality"/>
                </p>

                <p>
                    <label>Sport:</label>
                    <input id="sport" ng-model="basicInfo.sport"/>
                </p>

                <button type="submit" ng-click="getAthlets()">Continue</button>
            </form>
        </div>
    </div>
</div>
<footer class="container-fluid text-center">
    <p><span class="glyphicon glyphicon-copyright-mark">Company</span></p>
</footer>
</body>
</html>