<html lang = "en-US" ng-app="athleteProfile">
<head>
    <meta charset = "UTF-8">
    <title>externalStyle.html</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
     <link rel = "stylesheet"
              type = "text/css"
              href = "./stylesheets/indexstyle.css" />
    <script src="./js/summary.js"></script>
</head>
<body ng-controller="summaryController">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" >
                <li><a href="#">Home</a></li>
                <li><a href="#" >About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Events</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" >
<form class ="form">
                                 <h2 class="text-center">Summary</h2><br><br>

                                 <h4 class="text-center">Basic Info:</h4><br>
                                 <br>

                               <br> <br> Name:              {{profileInfo.name}}
                                <br><br>  Gender:           {{profileInfo.gender}}
                                <br><br>  Date of Birth:    {{profileInfo.dateofbirth}}
                                <br><br>  Nationality:      {{profileInfo.nationality}}
                               <br> <br>  Married:          {{profileInfo.married}}
                               <br> <br>  Sport:          {{profileInfo.sport}}

                                <br> <br>
                                <h4 class="text-center" >About:</h4>
                                <br>

                               <br> <br>  Team:             {{profileInfo.team}}
                               <br> <br>  Association:      {{profileInfo.Association}}
                                <br><br>  Location:         {{profileInfo.location}}
                                <br><br>  Charities:        {{profileInfo.charities}}
                               <br> <br>  Interests:        {{profileInfo.interests}}
                               <br> <br>  Alcohol:          {{profileInfo.alcohol}}
                               <br> <br>  About:            {{profileInfo.about}}
                               <br> <br>
                                  <br><br>
                                 <h4 class="text-center">Social Media </h4><br>

                                <br><br> <br> Facebook:     {{profileInfo.facebook}}
                                 <br><br> Twitter:      {{profileInfo.twitter}}
                                <br> <br> Instagram:    {{profileInfo.instagram}}
                                 <br><br> Youtube:      {{profileInfo.youtube}}
                                 <br><br> Snapchat:     {{profileInfo.snapchat}}
 <br><br>
    <button class="button" id="backToAbout" type="button" ng-click="goToAbout()">Back</button>
    <button class="button"  type="submit" ng-click="Submit()">Submit</button>
    </form>
</body>
</html>